/* TODO */
.editor-styles-wrapper {
	background-color: #fff !important;
}

.neuwo-button {
	border: solid gray 1px;
}

.neuwo_tag_score {
	color: gray;
}

.gutenberg_neuwo_add_keyword_as_tag_btn {
	padding: 0 3px 2px 4px !important;

	height: 1.4em;
	line-height: 1 !important;
	min-height: 15px !important;

	margin-left: 5px !important;
}
